In [2]:
import pandas as pd

In [3]:
# Creating a Movie dataset
df = pd.DataFrame({'Aag':[8,11,12,16,18,19,23,26,27,7,9,10,26,27,30,31,34,35],
                  'Gender':[1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0],
                  'Interest':['Animation','Animation','Animation','Action','Action','Action','Drama','Drama','Drama','Animation','Animation','Animation','Action','Action','Action','Drama','Drama','Drama']})
df

    Aag  Gender   Interest
0     8       1  Animation
1    11       1  Animation
2    12       1  Animation
3    16       1     Action
4    18       1     Action
5    19       1     Action
6    23       1      Drama
7    26       1      Drama
8    27       1      Drama
9     7       0  Animation
10    9       0  Animation
11   10       0  Animation
12   26       0     Action
13   27       0     Action
14   30       0     Action
15   31       0      Drama
16   34       0      Drama
17   35       0      Drama

In [8]:
# Create a Input Dataset

input_data = df.drop(columns = ['Interest'])
input_data

    Aag  Gender
0     8       1
1    11       1
2    12       1
3    16       1
4    18       1
5    19       1
6    23       1
7    26       1
8    27       1
9     7       0
10    9       0
11   10       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [9]:
# Create a Output Dataset

output_data = df.drop(columns = ['Aag','Gender'])
output_data

     Interest
0   Animation
1   Animation
2   Animation
3      Action
4      Action
5      Action
6       Drama
7       Drama
8       Drama
9   Animation
10  Animation
11  Animation
12     Action
13     Action
14     Action
15      Drama
16      Drama
17      Drama

In [10]:
# import Machine Learning package
from sklearn.tree import DecisionTreeClassifier

In [23]:
# Create a output

ML_Model = DecisionTreeClassifier()
ML_Model.fit(input_data,output_data)
age = int(input("Enter Your Need age:"))
gender = int(input("Enter Your Need Gender(0/1):"))
age1 = int(input("Enter Your Need age:"))
gender1 = int(input("Enter Your Need Gender(0/1):"))
Output_Model = ML_Model.predict([[age,gender],[age1,gender1]])
print(Output_Model)

Enter Your Need age:12
Enter Your Need Gender(0/1):1
Enter Your Need age:33
Enter Your Need Gender(0/1):0
['Animation' 'Drama']

C:\Users\Computer\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(